<%- include("header") -%>

  <div class="container py-2 text-center">

    <div class="py-4 text-uppercase" id="heading">
      <h1 class="">
        <%= listTitle %>
      </h1>
    </div>

    <table class="table table-striped mb-5">

      <thead class="">
        <tr>
          <th>Tarea</th>
          <th>Descripción</th>
          <th>Realizado</th>
          <th>Hora</th>
          <th>UpdatedBy</th>
        </tr>
      </thead>

      <tbody class="align-middle">
        <% newListItems.forEach(function(item){ %>
          <form action="">
            <tr>
              <td>
                <%= item.numberOfTask %>
              </td>
              <td class="text-start">
                <%= item.descriptionTask %>
              </td>
              <td>
                <label for="checkbox">
                  <input type="checkbox" name="checkbox" value="<%=item._id%>" <%=item.checkbox %> autocomplete="off">
                </label>
              </td>
              <td>
                <%= item.timeEvent %>
              </td>
              <td>
                <%= item.updatedBy %>
              </td>
            </tr>
          </form>
          <% }) %>
      </tbody>

    </table>

    <!-- <button type="button" id="savelist" onclick="location.href = '/savelist';" class="btn btn-dark">Save list</button> -->
    <button type="button" id="savelist" class="btn btn-dark">Save list</button>
    <button type="button" onclick="location.href = '/update';" class="btn btn-dark">to Update list</button>
    <button type="button" onclick="location.href = '/historic';" class="btn btn-dark">to Historic list</button>

  </div>

  <%- include("footer") -%>