<%- include("header") -%>

  <style>
    @media (max-width: 640px) {
      .container {
        width: 95%;
      }
    }

    @media (min-width: 640px) and (max-width: 780px) {
      .container {
        width: 75%;
      }
    }

    @media (min-width: 780px) {
      .container {
        width: 60%;
      }
    }
  </style>

  <div class="container py-2 font-monospace">

    <!-- <div class="position-relative top-0 end-0" style="width: min-content;"> -->
    <div class="py-4 text-uppercase text-center" id="heading">
      <h1 class="">
        <%= listTitle %>
      </h1>
    </div>
    <!-- <div class="list-group text-end">
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          U29
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          U30
        </label>
      </div>
    </div> -->



    <hr class="py-1">
    </hr>
    <% newListItems.forEach(function(item){ %>
      <div class="row">
        <div class="col-10 fs-6 fw-bold text-start me-0 pe-0">
          <%= item.numberOfTask %>
            <%= item.descriptionTask %>
        </div>
        <div class="col-2 overflow-hidden text-center p-0" style="font-size: x-small;">
          <%= item.action %> <br>
            <hr class="m-1">
            <%= item.op %>
        </div>
      </div>
      <div class="row">
        <div class="col-4 btn-group btn-group-lg p-2">
          <input type="checkbox" class="btn-check checkbox" name="checkbox" id="<%=item._id%>" value="<%=item._id%>"
            <%=item.checkbox %> autocomplete="off">
          <label class="btn btn-outline-primary" for="<%=item._id%>">Check</label>
        </div>
        <div class="col-3 text-center mt-2">
          <%= item.timeEvent %>
            <br>
            <hr class="m-1">
            <div style="font-size: x-small;">
              <%= item.updatedBy %>
            </div>
        </div>
        <div class="col-5 p-1 ps-0">
          <div class="form-floating">
            <input type="text" class="form-control obs" id="floatingInputGrid" placeholder="obs"
              value="<%= item.observation %>"></input>
            <label for="floatingInputGrid">Obs</label>
          </div>
        </div>
      </div>
      <hr class="my-2 py-1">
      </hr>
      <% }); %>

        <div>
          <form action="/savelist" method="POST">
            <input type="hidden" name="title" value="<%= listTitle %>">
            <button type="submit" id="savelist" class="btn btn-dark">Save list</button>
          </form>
          <button type="button" onclick="location.href = '/update';" class="btn btn-dark">to Update list</button>
          <button type="button" onclick="location.href = '/historic';" class="btn btn-dark">to Historic
            list</button>
        </div>



        <%- include("footer") -%>