<%- include("header") -%>

  <div class="container px-4 py-2 font-monospace">

    <div class="py-4 text-uppercase" id="heading">
      <h1 class="">
        <%= listTitle %>
      </h1>
    </div>

    <hr class="py-1">
    </hr>
    <% newListItems.forEach(function(item){ %>
      <div class="row">
        <div class="col-10 fs-6 fw-bold text-start me-0 pe-0">
          <%= item.numberOfTask %>
            <%= item.descriptionTask %>
        </div>
        <div class="col-2 overflow-hidden text-end pe-2" style="font-size: small;">
          <%= item.action %> <br>
            <hr class="m-1 me-0">
            <%= item.op %>
        </div>
      </div>
      <div class="row">
        <div class="col-4 btn-group btn-group-lg p-2">
          <input type="checkbox" class="btn-check checkbox" name="checkbox" id="<%=item._id%>" value="<%=item._id%>"
            <%=item.checkbox %> autocomplete="off">
          <label class="btn btn-outline-primary" for="<%=item._id%>">Check</label>
        </div>
        <div class="col-3 text-center mt-2">
          <%= item.timeEvent %>
            <br>
            <hr class="m-1">
            <div style="font-size: small;">
              <%= item.updatedBy %>
            </div>
        </div>
        <div class="col-5 p-1 ps-0">
          <!-- <div class="form-floating">
            <textarea class="form-control obs m-1 p-1" id="floatingTextarea">
            <%= item.observation %>
          </textarea>
            <label for="floatingTextarea"></label>
          </div> -->
          <div class="form-floating">
            <input type="text" class="form-control obs" id="floatingInputGrid" placeholder="obs" value="<%= item.observation %>">
            <label for="floatingInputGrid">Obs</label>
          </div>
        </div>
      </div>
      <hr class="my-2 py-1">
      </hr>
      <% }); %>

        <div>
          <form action="/savelist" method="POST">
            <input type="hidden" name="title" value="<%= listTitle %>">
            <button type="submit" id="savelist" class="btn btn-dark">Save list</button>
          </form>
          <button type="button" onclick="location.href = '/update';" class="btn btn-dark">to Update list</button>
          <button type="button" onclick="location.href = '/historic';" class="btn btn-dark">to Historic list</button>
        </div>

        <%- include("footer") -%>