<%- include("header") -%>

  <div class="container py-2 text-center">

    <div class="py-4 text-uppercase" id="heading">
      <h1 class="">
        <%= listTitle %>
      </h1>
    </div>

    <table class="table table-striped mb-5">

      <thead class="">
        <tr>
          <th>Tarea</th>
          <th>Descripción</th>
          <th>Realizado</th>
          <th>Hora</th>
        </tr>
      </thead>

      <tbody class="align-middle">
        <% newListItems.forEach(function(item){ %>
          <form action="">
            <tr>
              <td>
                <%= item.numberOfTask %>
              </td>
              <td class="text-start">
                <%= item.descriptionTask %>
              </td>
              <td>
                <input type="hidden" name="checkbox" value="<%=item._id%>">
                <input type="checkbox" name="checkbox1" value="<%=item._id%>" <%=item.checkbox %> >
              </td>
              <td>
                <%= item.timeEvent %>
              </td>
            </tr>
          </form>
          <% }) %>
      </tbody>

    </table>

    <button type="button"  class="btn btn-dark boton">test communication</button>

    <button type="button" onclick="location.href = '/update';" class="btn btn-dark">to Update list</button>

  </div>

  <%- include("footer") -%>