<%- include("header") -%>

  <div class="container py-2 text-center pich">

    <div class="text-center py-4 text-uppercase" id="heading">
      <h1 class="">
        <%= listTitle %>
      </h1>
    </div>

    <div>

      <table class="table mb-5" style="width:100%">

        <thead class="fs-4">
          <tr>
            <th>Tarea</th>
            <th>Descripción</th>
            <th>Realizado</th>
            <th>Hora</th>
          </tr>
        </thead>

        <tbody class="fs-5">
          <% newListItems.forEach(function(item){ %>
            <form action="/toogleCheckbox" method="post">
              <tr>
                <td>
                  <%= item.numberOfTask %>
                </td>
                <td>
                  <%= item.descriptionTask %>
                </td>
                <td>
                  <input type="hidden" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                  <input type="checkbox" name="checkbox1" value="<%=item._id%>" onChange="this.form.submit()"
                    <%=item.checkbox %> >
                </td>
                <td>
                  <%= item.timeEvent %>
                </td>
              </tr>
            </form>
            <% }) %>
        </tbody>

      </table>

      <form class="item text-center" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
    </div>

  </div>



  <%- include("footer") -%>